.about__wrapper {
  padding: 80px 0 88px;
  @include media-laptop {
    padding: 80px 0 100px;
  }
  @include media-tablet {
    padding: 42px 0 42.4px;
  }
}

.about__picture {
  margin-left: 175px;
  height: 408px;
  width: 300px;
  background-image: url("../images/about-pets.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @include media-laptop {
    margin: 53px 0 0 0;
    order: 2;
  }
  @include media-tablet {
    width: 260px;
    height: 353.6px;
    margin: 19px 0 0 0;
    order: 2;
  }
}

.about__content {
  margin-right: 175px;
  padding-top: 14px;
  max-width: 430px;
  @include media-laptop {
    order: 1;
    margin-right: 0;
    padding-top: 0;
  }
}

.about__title {
  color: $color-dark-l;
  max-width: 370px;
  @include media-tablet {
    text-align: center;
    padding: 0 20px;
  }
}

.about__text {
  color: $color-dark-xl;
  @include media-tablet {
    text-align: center;
  }

  > * {
    margin: 25px 0;
    @include media-tablet {
      max-width: 270px;
      text-align: justify;
      margin: 23px auto;
    }
  }
}