.footer {
  background: url(../images/bg-noise2.png) 42px 38px, radial-gradient(63% 257% at 1% 104%, #5b483c -1%, #262425 93%), #211f20;
  //background-image: url("../images/footer-gradient-background.svg");
  //background-size: cover;
  //background-repeat: no-repeat;
}

.footer__wrapper {
  padding-top: 40px;
  @include media-laptop {
    padding-top: 30px;
  }
  @include media-tablet {
    padding-top: 0;
  }
}

.footer__picture {
  height: 310px;
  width: 300px;
  background-image: url("../images/footer-puppy.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @include media-laptop {
    margin-top: 60px;
  }
  @include media-tablet {
    margin-top: 40px;
    width: 260px;
    height: 269px;
  }
}


.suggestion {
  padding-top: 16px;
  padding-right: 138px;
  max-width: 302px;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-laptop {
    padding: 0 20px;
  }
  @include media-tablet {
    //text-align: center;
    //align-items: center;
    height: 238px;
    padding: 0;
  }
}

.suggestion__map {
  @include media-tablet {
    height: 252px;
    padding: 10px 0 0;
  }
}

.suggestion__title {
  color: $color-light-xl;
  @extend %font-primary;

  @include media-tablet {
    text-align: center;
    padding: 30px 10px 0;
  }
}

.contact {
  display: flex;
  flex-direction: row;




  .contact__email {
    display: flex;
    flex-direction: row;
    //padding-left: 20px;
    color: $color-primary;
    @extend %font-primary;
    @include font(2rem, 115%);
    letter-spacing: 0.06em;
    text-decoration: none;

    @include media-tablet {
      margin-left: 25px;
    }

    h4 {
      padding-top: 2px;
      padding-left: 20px;
    }
  }

  .contact__phone {
    display: flex;
    flex-direction: row;
    //padding-left: 20px;
    color: $color-primary;
    @extend %font-primary;
    @include font(2rem, 115%);
    letter-spacing: 0.06em;
    text-decoration: none;

    @include media-tablet {
      margin-left: 30px;
    }

    h4 {
      padding-top: 2px;
      padding-left: 20px;
      @include media-tablet {
        padding-top: 5px;
      }
    }
  }

  .contact__address {
    display: flex;
    flex-direction: row;
    color: $color-primary;
    @extend %font-primary;
    @include font(2rem, 115%);
    letter-spacing: 0.06em;
    text-decoration: none;

    @include media-tablet {
      max-width: 100%;
      justify-content: start;
      padding-top: 40px;
      align-items: center;
    }

    h4 {
      //padding-left: 18px;
      @include media-tablet {
        padding: 0;
      }
    }
  }

  .contact__map {
    cursor: pointer;
    margin-right: 20px;
    width: 22px;
    height: 32px;
  }
}
