.header {
  padding-top: 60px;

  @include media-laptop {
    padding-top: 30px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header-our-pets {
  padding: 30px 0;
}


