.header {
  padding-top: 60px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo-link__title {
  color: $color-primary;
}

.logo-link__subtitle {
  color: $color-light-xl;
  @include font (1.3rem, 1.5rem);
  letter-spacing: 0.1em;
  margin: 10px 0 0 4px;
}

