.about__wrapper {
  padding: 80px 0 88px;
  @include media-laptop {
    padding: 80px 0 100px;
  }
}

.about__picture {
  margin-left: 175px;
  height: 408px;
  width: 300px;
  background-image: url("../images/about-pets.svg");
  background-size: contain;
  background-repeat: no-repeat;
  @include media-laptop {
    margin: 53px 0 0 0;
    order: 2;
  }
}

.about__content {
  margin-right: 175px;
  padding-top: 14px;
  max-width: 430px;
  @include media-laptop {
    order: 1;
    margin-right: 0;
    padding-top: 0;
  }
}

.about__title {
  color: $color-dark-l;
  max-width: 370px;
}

.about__text {
  color: $color-dark-xl;

  > * {
    margin: 25px 0;
  }
}