.donation {
  background: $color-light-l;
}

.donation__wrapper {
  padding: 80px 0 88px;

  @include media-laptop {
    padding: 80px 0 100px;
  }
  @include media-tablet {
    padding: 42px 0 42px;
  }

}

.donation__picture {
  margin-top: 11px;
  margin-left: 143px;
  height: 261px;
  width: 505px;
  background-image: url("../images/donation-dog.svg");
  background-size: contain;
  background-repeat: no-repeat;
  @include media-laptop {
    margin-top: 48px;
    margin-left: 0;
    order: 2;
  }
  @include media-tablet {
    margin-top: 21px;
    width: 260px;
    height: 135.2px;
  }
}

.donation__content {
  margin-right: 142px;
  max-width: 380px;
  @include media-laptop {
    order: 1;
    margin-right: 0;
  }
  @include media-tablet {
    text-align: center;
  }
}

.donation__title {
  color: $color-dark-l;
  max-width: 300px;
  @include media-tablet {
    padding: 0 40px;
  }
}

.donation__text {
  padding: 6px 0 4px;
  color: $color-dark-l;
  @extend %font-primary;
  @include font (1.5rem, 110%);
  letter-spacing: 0.06em;
  @include media-tablet {
    letter-spacing: 0;
    padding: 8px 0;
  }
}

.donation__card {
  background: $color-primary;
  border-radius: 9px;
  padding: 10px 15px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .bank-card__img {
    width: 30px;
    height: 23px;
  }
  .donation__number {
    color: $color-dark-l;
    @extend %font-primary;
    @include font (2rem, 115%);
    letter-spacing: 0.06em;
    text-decoration: none;
    margin-left: 15px;

    @include media-tablet {
      @include font (1.5rem, 115%);
    }
  }
}

.donation__text-cursive {
  //max-width: 280px;
  //margin: 20px auto 0;
  max-width: 380px;
  margin: 20px auto 0;
  color: $color-dark-m;
  @extend %font-add;
  @include font (1.2rem, 1.8rem, italic);

  @include media-tablet {
    max-width: 280px;
    text-align: justify;
  }


  > * {
    //margin: 25px 0;
    @include media-tablet {
      //max-width: 280px;
      text-align: justify;
      margin: 21px auto;
    }
  }

}