.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 0 45px;
  @include media-laptop {
    padding: 78px 0 80px;
  }
}

.help__title {
  color: $color-dark-l;
  text-align: center;
  max-width: 320px;
  margin-bottom: 59px;
}

.help__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  @include media-laptop {
    max-width: 630px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 65px;
  }
  @include media-tablet {
    max-width: 290px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 35px 65px;
  }
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 35px;
  //padding: 0 60px 35px;
  @include media-laptop {
    padding: 0;
  }

  .support__icon {
    height: 60px;
    width: 60px;
  }

  .support__text {
    margin-top: 30px;
    @extend %font-primary;
    @include font (2rem, 115%);
    letter-spacing: 0.06em;
    @include media-tablet {
      @include font (1.5rem, 115%);
    }
  }
}