.navigation {
  width: 443px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding:0 0 5px;
  @include media-tablet {
    display: none;
  }
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  cursor: pointer;
  color: $color-dark-s;
  @extend %transition;

  &_active {
    padding-bottom: 3px;
    border-bottom: 3px solid $color-primary;
  }

  &:hover {
    color: $color-light-s;
  }
}

.header-our-pets {
  .navigation__link {
    text-decoration: none;
    cursor: pointer;
    color: $color-dark-l;
    @extend %transition;

    &_active {
      padding-bottom: 3px;
      border-bottom: 3px solid $color-primary;
    }

    &:hover {
      color: $color-dark-3xl;
    }
  }
}