.button {
  @extend %font-primary;
  @include font (1.7rem, 130%);
  padding: 14px 42px;
  color: $color-dark-3xl;
  background: transparent;
  border: 2px solid $color-primary;
  border-radius: 100px;
  letter-spacing: 0.06em;
  cursor: pointer;
  &_colored {
    background: $color-primary;
  }
  &:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
  }

  @include media-tablet {
    height: 52px;
    padding: 11px 42px 14px;
  }
}


.button {
  @extend %transition;
}