:root {
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  @extend %font-add;
  @include font (1.5rem, 160%);
}

h1 {
  @extend %font-primary;
  @include font (3.2rem, 110%);
  letter-spacing: 0.06em;
  margin: 0;
}

h2 {
  @extend %font-primary;
  @include font (4.4rem, 130%);
  margin: 0;
  @include media-tablet {
    @include font (2.5rem, 130%);
    letter-spacing: 0.06em;
  }
}

h3 {
  @extend %font-primary;
  @include font (3.5rem, 130%);
  letter-spacing: 0.06em;
  margin: 0;
  @include media-tablet {
    @include font (2.5rem, 130%);
  }
}

h4 {
  @extend %font-primary;
  @include font (2rem, 115%);
  margin: 0;
}