:root {
  font-size: 10px;
}


body {
  font-family: 'Georgia';
}

h1 {
  @include font (32px, 110%);
  letter-spacing: 0.06em;
}

h2 {
  @include font (44px, 130%);
}

h3 {
  @include font (35px, 130%);
}

h4 {
  @include font (20px, 115%);
}