
@font-face {
  font-family: 'Georgia';
  src: url("../fonts/georgia.ttf");
}
@font-face {
  font-family: 'Arial';
  src: url("../fonts/arial_narrow_7.ttf");
}

%font-primary {
  font-family: 'Georgia';
}

%font-add {
  font-family: 'Arial';
}