@mixin font ($size, $height, $style: normal, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-style: $style;
  font-weight: $weight;
}

@mixin columns () {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin media-laptop {
  @media (max-width: $laptop-width) { @content;}
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content;}
}

@mixin media-mobile {
  @media (max-width: $mobile-width) { @content;}
}