@mixin font ($size, $height, $style: normal, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-style: $style;
  font-weight: $weight;
}

@mixin columns () {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //>* {
  //  flex-basis: $width;
  //}
}